/Chapter1/nbproject/private/
/Chapter1/build/
/Chapter1/dist/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/problem1_1/nbproject/private/
/problem1_1/build/
/problem1_1/dist/
/problem1/nbproject/private/
/problem1/build/
/problem1/dist/
/Problem1_3/nbproject/private/
/Problem1_3/build/
/replaceSpaces/nbproject/private/